.middle
{
    text-align: center;
}

.listitem
{
    border: 1px solid black;
}

.listitem{
   
    width: 70%;
  
}

.size
{
    width: 130px;
}

.matdivide
{
    padding-bottom: 10px;
}

.matlist
{
    padding-left: 5%;
    padding-right: 5%;
}

.timeC
{
    padding-right: 40px; 
}

.no-wrap{
    display: inline-block;
}