
<!-- <mat-list>
    <mat-list-item *ngFor="let list of lists">
        <h4 matLine>{{list.description}}</h4>
        <h4 matLine>{{list.tags}}</h4>
        <h4 matLine>{{list.time_created}}</h4>
        <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
     </mat-list-item>
     <mat-divider></mat-divider>
</mat-list>  -->

<h1>///////////////////////////////</h1>

<h3 class="middle">List of open tickets</h3>


<mat-list class="list">

    <mat-list-item class="listitem">
        <h4 matLine>i have a refund problem</h4>
        <h4 matLine>#refund</h4>
        <h5>Wed 01-01-2009 6:00</h5>
        <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
     </mat-list-item>

     <mat-divider></mat-divider>

     <mat-list-item class="listitem">
        <h4 matLine>my credit card got hacked last week , I am getting different transaction messages and otp to eable them</h4>
        <h4 matLine>#credit #card #hacked #transaction #otp</h4>
        <h5>Wed 01-01-2009 6:00</h5>
        <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
     </mat-list-item>


     <mat-divider></mat-divider>

     <mat-list-item class="listitem">
         <h4 matLine>i have a refund problem</h4>
         <h4 matLine>#refund</h4>
         <h5>Wed 01-01-2009 6:00</h5>
         <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
      </mat-list-item>
 
      <mat-divider></mat-divider>
 
      <mat-list-item class="listitem">
         <h4 matLine>my credit card got hacked last week , I am getting different transaction messages and otp to eable them</h4>
         <h4 matLine>#credit #card #hacked #transaction #otp</h4>
         <h5>Wed 01-01-2009 6:00</h5>
         <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
      </mat-list-item>


      <mat-divider></mat-divider>

      <mat-list-item class="listitem">
            <h4 matLine>i have a refund problem</h4>
            <h4 matLine>#refund</h4>
            <h5>Wed 01-01-2009 6:00</h5>
            <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
         </mat-list-item>
    
         <mat-divider></mat-divider>
    
         <mat-list-item class="listitem">
            <h4 matLine>my credit card got hacked last week , I am getting different transaction messages and otp to eable them</h4>
            <h4 matLine>#credit #card #hacked #transaction #otp</h4>
            <h5>Wed 01-01-2009 6:00</h5>
            <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
         </mat-list-item>


         <mat-divider></mat-divider>

         <mat-divider></mat-divider>

         <mat-list-item class="listitem">
               <h4 matLine>i have a refund problem</h4>
               <h4 matLine>#refund</h4>
               <h5>Wed 01-01-2009 6:00</h5>
               <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
            </mat-list-item>
       
            <mat-divider></mat-divider>
       
            <mat-list-item class="listitem">
               <h4 matLine>my credit card got hacked last week , I am getting different transaction messages and otp to eable them</h4>
               <h4 matLine>#credit #card #hacked #transaction #otp</h4>
               <h5>Wed 01-01-2009 6:00</h5>
               <button class="size" mat-stroked-button [routerLink]="['/ticket-assigned']">Assign me</button>
            </mat-list-item>
   
            <mat-divider></mat-divider>

            <mat-divider></mat-divider>
       
</mat-list> 

