
<!-- nav bar -->
<mat-toolbar color="primary" class="navy">

    <span>Customer Support</span>

    <span class="example-fill-remaining-space"></span>
     <!-- <a class="active" class="example-icon" [routerLink]="/home">Home</a> -->
     <a class="active" class="example-icon" [routerLink]="['/home']">Home</a>
     <a class="example-icon" routerLink="/list">Command List</a>
     <a class="example-icon" routerLink="/performance">Performance</a>
     <a class="example-icon"routerLink="/login">Logout</a>
  </mat-toolbar>