/* navigation styles */

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .example-icon {
    padding: 0 14px;
    color: white;
  }

  .navy
  {
    margin-bottom: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    color: white;
  }
  
  .middle
  {

    align-self: center;
    text-align: center;
    font-size: 10px;
    align-content: center;
    
   }

   .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .aligntext
  {
    
    text-align: center;
   
  }



  .mat-toolbar h3{
    font-family: inherit;
}
.navbar{
    justify-content: space-between;
    /* font-family: 'Questrial', sans-serif; */
    font-family: inherit;
}

nav a{
    /* padding-right: 1rem; */
    color: black;
    text-decoration: none;
    margin: 2px 8px 2px 8px;
}

mat-icon{
    vertical-align: middle;
    margin-right: 5px;
}

.material-icons{
    vertical-align: middle;
    margin-right: 5px;
}

mat-sidenav a{
    color: black;
    text-decoration: none;
    padding: 10px 20px 5px 20px;
}

mat-sidenav{
    min-width: 250px;
}

 mat-sidenav-container{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
 
li {
  list-style-type: none;
  padding-bottom: 10px;

}
