<!-- <h2 mat-dialog-title>[(ngModel)]="data.usermail"</h2> -->
<mat-dialog-content>
  response coming after executing the command
  </mat-dialog-content>
  <mat-form-field>
<input matInput [(ngModel)]="data.mail">
<h1>{{data.mail}}</h1>
</mat-form-field>
<mat-dialog-content>
response coming after executing the command
</mat-dialog-content> 

<mat-dialog-actions>
 <button mat-button (click)="replyViaMail()">Reply via Mail</button>
  <button mat-button mat-dialog-close (click)="replyViaChat()">Reply via Chat</button>
</mat-dialog-actions>