
 <div class="chat">
    <header class="chat-window">
        <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Live Chat</span>
            <span class="example-spacer"></span>
           <!-- <mat-icon ></mat-icon>
            <mat-icon >clear</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>
</header>
      
      <section class=chat-session>
            <ul class="message-list">
                    
                <li>
                        <div *ngFor="let msg of messages">{{msg}}</div>
                </li>
            </ul>
      </section>

        <div id ="basic-container">
           <mat-form-field appearance="outline" class="input">
               <input matInput placeholder="Type your message here...."  #Message >
               <mat-icon matSuffix class="iconset">sentiment_very_satisfied</mat-icon>          
           </mat-form-field>
           <!-- <mat-icon (click) = 'DisplayMessage(Message.value)' class="iconset1">send</mat-icon> -->
           <button mat-fab color="primary" (click) = 'displayAndSendMessage(Message.value)' id="sendbutton">
                 <mat-icon class="iconset1">send</mat-icon>
            </button>
           </div>

</div> 
