
  .chat{
    border: 1px solid black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      width:500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
  } 


  .navy
  {
   margin-bottom: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    color: white;
    z-index: 100;  }

    .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
      }
    

      #basic-container{
        width:90%;
        margin-top: 9rem;
        padding-top:9rem; 
        padding-left: 30px;
        margin-bottom: 0;
        align-content: center;
        display: flex;
        
      }
    
      .chat-session {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
      }

/* 
.iconset1
{
  padding-left: 20px;
  padding-top: 20px;
} */

.input
{
  width: 400%;
}

li{
  list-style-type: none;
  margin-bottom: 5px;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
