
 <div class="chat">
    <header class="chat-window">
        <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Live Chat</span>
            <span class="example-spacer"></span>
           <!-- <mat-icon ></mat-icon>
            <mat-icon >clear</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>
</header>
      
      <section class=chat-session>
</section>

        <div id ="basic-container">
           <mat-form-field appearance="outline">
               <input matInput placeholder="Type your message here...."  #Message >
               <mat-icon matSuffix class="iconset">sentiment_very_satisfied</mat-icon>          
           </mat-form-field>
           <!-- <mat-icon (click) = 'DisplayMessage(Message.value)' class="iconset1">send</mat-icon> -->
           <mat-icon class="iconset1">send</mat-icon>
           </div>

</div> 
